{{#> "systems/animabf/templates/items/base/base-sheet.hbs"}}
  {{#> "systems/animabf/templates/common/ui/group.hbs" class="technique-item-dialog"}}
    {{#> "systems/animabf/templates/common/ui/group-header.hbs"}}
      <div class='technique-header'>
        {{>
        "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
          class="name"
          hideTitle=true
          inputType="text"
          inputName="name"
          inputValue=item.name
        }}
        <nav class="abf-tabs tabs effect-tabs pl-4" data-group="primary">
          <a class="item" data-tab="main">Details</a>
          <a class="item pl-2" data-tab="effect">Effect</a>
        </nav>
      </div>
    {{/"systems/animabf/templates/common/ui/group-header.hbs"}}
    <section class="sheet-body common-group">
      <div class="tab" data-group="primary" data-tab="main">
        {{#> "systems/animabf/templates/common/ui/group-body.hbs"
          class="technique"
        }}
          <div class="tallbox technique-description">
          {{#if item.actor}}
            {{editor item.system.description.value target="system.description.value" button=true owner=true editable=true}}
          {{else}}
            {{editor system.description.value target=("system.description.value") button=true owner=true editable=true}}
          {{/if}}
          </div>
        {{/"systems/animabf/templates/common/ui/group-body.hbs"}}
        {{#> "systems/animabf/templates/common/ui/group-footer.hbs" class="technique-properties"}}
          <div class='technique-footer technique-properties' >
            {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              class="level"
              title=(localize "anima.ui.domine.techniques.technique.footer.level.title")
              inputType='text'
              inputName="system.level.value"
              inputValue=system.level.value
            }}
            {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              class="strength"
              title=(localize "anima.ui.domine.techniques.technique.footer.strength.title")
              inputType='text'
              inputName="system.strength.value"
              inputValue=system.strength.value
            }}
            {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              class="agility"
              title=(localize "anima.ui.domine.techniques.technique.footer.agility.title")
              inputType='text'
              inputName="system.agility.value"
              inputValue=system.agility.value
            }}
            {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              class="dexterity"
              title=(localize "anima.ui.domine.techniques.technique.footer.dexterity.title")
              inputType='text'
              inputName="system.dexterity.value"
              inputValue=system.dexterity.value
            }}
            {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              class="constitution"
              title=(localize "anima.ui.domine.techniques.technique.footer.constitution.title")
              inputType='text'
              inputName="system.constitution.value"
              inputValue=system.constitution.value
            }}
            {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              class="willPower"
              title=(localize "anima.ui.domine.techniques.technique.footer.willPower.title")
              inputType='text'
              inputName="system.willPower.value"
              inputValue=system.willPower.value
            }}
            {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              class="power"
              title=(localize "anima.ui.domine.techniques.technique.footer.power.title")
              inputType='text'
              inputName="system.power.value"
              inputValue=system.power.value
            }}
            {{>
            "systems/animabf/templates/common/ui/horizontal-titled-input.hbs"
              class="martial-knowledge"
              title=(localize "anima.ui.domine.techniques.technique.footer.martialKnowledge.title")
              inputType='text'
              inputName="system.martialKnowledge.value"
              inputValue=system.martialKnowledge.value
            }}
          </div>
        {{/"systems/animabf/templates/common/ui/group-footer.hbs"}}
      </div>
      {{> "modules/anima-active-effects/templates/effects/effects-tab.hbs"}}
    </section>
  {{/"systems/animabf/templates/common/ui/group.hbs"}}
{{/"systems/animabf/templates/items/base/base-sheet.hbs"}}